services:
  nginx:
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - wordpress
    env_file:
      - ".env"
    networks:
      - network

  mariadb:
    build:
      context: ./mariadb
      dockerfile: Dockerfile
    image: mariadb
    container_name: mariadb
    restart: unless-stopped
    env_file:
      - ".env"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - network
    expose:
      - "3306"

  wordpress:
    build:
      context: ./wordpress
      dockerfile: Dockerfile
    image: wordpress
    container_name: wordpress
    restart: always
    expose:
      - "9000"
    volumes:
      - wp_data:/var/www/html
    env_file:
      - ".env"
    depends_on:
      - mariadb
    networks:
      - network

networks:
  network:
    driver: bridge
  
volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: $HOME/data/mariadb
  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: $HOME/data/wordpress