[server]
[mysqld]

# システムパス設定
pid-file     = /run/mysqld/mysqld.pid
basedir      = /usr
datadir      = /var/lib/mysql
tmpdir       = /tmp

# ネットワーク設定 (WordPressからの接続許可)
bind-address = 0.0.0.0
port         = 3306

# 文字コード設定
character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci